.search-box {
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffE600;
}

.search-input-container {
  width: 60%;
  padding-left: 1%;
  padding-right: 1%; 
}

.input-field {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 0 none;
  width: 93%;  
  height: 40px;
  font-size: 18px;
}
