.second-section-product-detail {
  background-color: white;
  margin-right: auto;
  margin-left: auto;
  margin-top: 16px;
  height: 350px;
  width: 80%;
}

.third-section-product-detail {
  background-color: white;
  padding-left: 32px;
  margin-right: auto;
  padding-top: 90px;
  margin-left: auto;
  width: 80%;
}

.third-section-product-detail > p {
  padding-bottom: 32px;
  padding-top: 32px;
}

.row-product-detail {
  display: flex;  
  height: 350px;
}

.column-image-product-detail {
  display: flex;
  flex: 60%;
}

.column-aux-product-detail {
  padding-top: 32px;
  flex: 40%;
}

.image-product {
  max-height: 100%;
  max-width: 100%;
  height: 300px;
  margin: auto;
}

.paid-market {
  margin-top: 25px;
}

.paid-market-true {
  color: darkgreen;
}

.paid-market-false {
  color: red;
}

.codition-and-solds {
  color: #333333;
  font-size: 14px;
  display: flex;
}

.codition-and-solds  > h3 {
  margin-left: 8px;
}

.title-product {
  margin-top: 32px;
  font-size: 24px;
  width: 70%;
}

.price-product {
  margin-top: 20px;
  font-size: 30px;
  display: flex;
}

.price-product > div > h2 {
  margin-left: 8px; 
}

.buy-button {
  box-shadow:0 4px 0 #999999;
  background-color: #3483FA;
  border-radius: 5px;
  margin-top: 20px;
  font-size: 20px;
  cursor: pointer;
  color: white;
  height: 50px;
  border: none;
  width: 60%;
}

.buy-button:active {
  position:relative;
  box-shadow:none;
  top:5px;
}

.description-title {
  font-size: 28px;
}

.description-paragraph {
  padding-bottom: 100px;
  text-align: justify;
  margin-top: 32px;
  font-size: 16px;
  width: 85%;  
}